body{
    color: aliceblue;

}

.container{
    margin-top: 10px;
}

.choice-container{
    display: flex;
    margin: 0.8rem;
    width: 100px;
    border-radius: 4px;
    background: #547AA5;
    font-size: 3rem;
    min-width: 80rem;
    
}

.choice-container:hover{
    cursor: pointer;
    box-shadow:aliceblue;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: aliceblue;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}


 /* Heads up Display */

 #hud{
    display: flex;
    justify-content: space-between;

 }

 .hud-prefix{
     font-size: 3rem;
     text-align: center;
 }

.hud-main-text{
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid red;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    margin-left: 10px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: red;
    width: 100%;
}


@media screen and (max-width: 768px){

   #progressBar{
       width: 10rem;
   }

   #hud{
    margin-top: 100px;
   }

 #question{
        /* font-size: 1.3rem; */
        text-align: center;
        margin-top: 50px;
        margin-left:10px;
        margin-right: 10px;
 }

.choice-container {
    display: flex;
    padding: auto;
    min-width: 23rem;
    

}
}
    

    
